@import "../../Abstracts/Variables/Variables.scss";

.personalInformation {
    padding: 48px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    color: $primary-text;
    background-color: $white;
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans", sans-serif; 
    font-size: 20px;

    .primaryInformation {
        width:100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .primaryInformationContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;                
    }
    
    .subtitle{
        font-weight: 600;
        margin-bottom: 10px;
    }
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 20px;
    border-bottom:1px solid black;
    a {
        display: inline;
        flex: 1 1 auto;
    }
}
.icon {
    text-decoration: none;
    color: $primary-text;
    font-size: 24px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;

    cursor: pointer;
    user-select: none;
}
.icon:hover {
    color: black;
}
.icon:active {
    color: black;
}
.firstLine{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $primary-text;
    font-size: 24px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;

    padding: 5px 20px;
    border-bottom:1px solid black;
}
.message {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0);

    text-decoration: none;
    color: $primary-text;
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}