.insuranceCarrier {
    width: 150px;
    height: 150px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;

    padding: 10px;

    border: 1px solid #707070;
    border-radius: 10px;

    background-color: white;

    user-select: none;
    cursor: pointer;
}